@model List<Catalog.Product>
@{
    ViewBag.Title = "Product Details";
}
<h2>Products List </h2>
<main>
    <div class="row">
        <table border="1" cellpadding="10" cellspacing="0">
            <tbody>
            </tbody>

            <tbody>

                @foreach (var products in Model)
                {
                    <tr>
                        <td>@products.ProductId</td>
                        <td>@products.Title</td>
                        <td>@products.Description</td>
                        <td>@products.UnitPrice</td>
                        <td>@products.Quantity</td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</main>