@model ECommerseEntities.Product
@{
    ViewBag.Title = "Product Details";
}
<h2>Products List </h2>
<main>
    <div class="row">
        <table border="1" cellpadding="10" cellspacing="0">
           
            <tbody>
                
                <tr>
                    <td>@Model.ProductId</td>
                    <td>@Model.Title</td>
                    <td>@Model.Description</td>
                    <td>@Model.UnitPrice</td>
                    <td>@Model.Quantity</td>
                </tr>


            </tbody>
        </table>
    </div>
</main>
<a href="/shopping/AddToCart/@Model.ProductId">Add to cart</a>